*{
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family:Gilroy-Light; /* Гарнитура шрифта */
  src: url(/src/components/fonts/giloryLight.otf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family:Gilroy-Regular; /* Гарнитура шрифта */
  src: url(/src/components/fonts/gilroy-regular.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family:Gilroy-ExtraBold; /* Гарнитура шрифта */
  src: url(/src/components/fonts/ofont.ru_Gilroy.ttf); /* Путь к файлу со шрифтом */
 }
 .app{
   overflow-x: hidden;
   overflow-y: hidden;
  font-family: "DINPro";
  position: relative;
  padding: 0;
  margin: 0;
  float: left;
}
.mainContent{
  background-image: url(./components//img/bg1.png);
  width: 1024px;
  height: 768px;
  position: relative;
}
.homeButtonContent{
  position: fixed;
  top: 10px;
  z-index: 999;
  left: 20px;
}
.label{
  position: fixed;
  font-size: 14px;
  left: 85px;
  top: 734px;
  width: 114px;
  height: 24px;
  z-index: 999;
  
}